@page "/"
@using System.Diagnostics

<PageTitle>Home</PageTitle>

<div class="terrible-div">
	<div class="terrible-text">
		<h1>Welcome to the terrible quiz</h1>
		<h2>@_headingValue</h2>
	</div>

	<div class="terrible-floater" style=@_tableStyle>
		<table class="terrible-table">
			<tr>
				<th>
					<Button class="terrible-button" @onclick="() => UpdateHeading(0)">
						@_textList[0]
					</Button>
				</th>
				<th>
					<Button class="terrible-button" @onclick="() => UpdateHeading(1)">
						@_textList[1]
					</Button>
				</th>
			</tr>
			<tr>
				<td>
					<Button class="terrible-button" @onclick="() => UpdateHeading(2)">
						@_textList[2]
					</Button>
				</td>
				<td>
					<Button class="terrible-button" @onclick="() => UpdateHeading(3)">
						@_textList[3]
					</Button>
				</td>
			</tr>
		</table>
	</div>
</div>

@code {
	private string _headingValue = "no answer chosen";
	private const string TopLeftText = "Oh no";
	private const string TopRightText = "No";
	private const string BotLeftText = "Please don't";
	private const string BotRightText = ":/";
	private readonly List<string> _textList = [TopLeftText, TopRightText, BotLeftText, BotRightText];

	private const int MaxTop = 200;
	private const int MaxLeft = 500;
	private readonly Random _rng = new();
	private string _tableStyle = "";

	private void UpdateHeading(int index)
	{
		UpdateHeading(_textList[index]);
	}

	private void UpdateHeading(string inText)
	{
		int top = _rng.Next(0, MaxTop);
		int left = _rng.Next(0, MaxLeft);
		_headingValue = inText;
		_tableStyle = $"top: {top}px; left: {left}px;";
	}

}